# Node modules
node_modules/

# Expo / React Native build artifacts and caches
.expo/
.eslintcache
.yarn/
.pnp/
.pnp.cjs
.pnp.mjs
.bin/
android/.idea/
android/build/
android/.gradle/
android/app/build/
android/gradle/
ios/build/
ios/*.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcarchive/
ios/.xcode.env.local
ios/*.ipa
ios/*.xcplaygrounddata/
ios/*.xccheckout/
ios/*.xcscmblueprint/
ios/*.xcsettings/
ios/*.xcscheme
ios/*.xcuserstate
ios/*.xcbkptlist
ios/*.dSYM
ios/*.app/

# IDE and system files
.vscode/           # VS Code specific files (optional, depends on preference)
.DS_Store          # macOS specific files
npm-debug.log* # npm debug logs
yarn-debug.log* # Yarn debug logs (even if using npm, might appear)
yarn-error.log*
.yarn-integrity
*.log
*.bak
*.tmp
*.swp
*.swo
Thumbs.db

# Environment variables
.env
.env.local